.accountmodal-container {
  position: absolute;
  top: 100px;
  align-self: center;
  margin-top: 10px;
}

.register-modal {
  display: flex;
  flex-direction: column;
  background: #212121;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.accountmodal-close-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.register-buttons {
  display: flex;
}

.title-modal {
  color: rgb(255, 208, 1);
  margin-bottom: 20px;
}

:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.submit-button-modal {
  padding: 15px 50px;
  cursor: pointer;
  border: none;
  outline: none;
  background-image: var(--gradient);
  color: white;
  font-size: 18px;
  background-size: 300%;
  background-position: right;
  padding
}


.accountmodal-switch {
  margin-bottom: 50px;
}
