.travelcategories-middle-container{
    height:100vh;
    background-color: #212121;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}


.travelcategories-container{
    color:white;
}