.travelcategories-middle-container {
  height: 100vh;
  background-color: #212121;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin-right: 50px;
}

.travelcategories-container {
  color: white;
}
